{% load static %}
{% get_static_prefix as STATIC_URL %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">

    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico">

    <title>{{title}} &mdash; Тестовое задание</title>

  <!--
    <script type="text/javascript" src="{{ STATIC_URL }}js/standart.js"></script>
-->
    {% block head %}{%endblock%}
  </head>

  <body>

    {% block content %}{% endblock %}

  </body>
</html>
