{% extends "base.html" %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}js/extjs/resources/css/ext-all-neptune-rtl.css">
    <script type="text/javascript" src="{{ STATIC_URL }}js/extjs/ext-all.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/population/app.js"></script>

{% endblock %}

{% block content %}

    <h1>Загрузка...</h1>

    </div>
{% endblock %}
